.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #e8e8e8;
  font-size: 13px;

  .box {
    display: flex;
    justify-content: space-between;
    line-height: 36px;
  }
}
